alchemy==20.5
attrs==23.2.0
blinker==1.6.2
brazilcep==6.2.0
certifi==2023.7.22
cffi==1.16.0
chardet==3.0.4
charset-normalizer==3.2.0
click==8.1.7
colorama==0.4.6
cryptography==42.0.3
distlib==0.3.8
dnspython==2.5.0
docutils==0.20.1
filelock==3.13.1
flash==1.0.3
Flask==2.3.3
Flask-Cors==4.0.0
greenlet==3.0.1
gunicorn==21.2.0
h11==0.14.0
idna==2.8
isodate==0.6.1
itsdangerous==2.1.2
Jinja2==3.1.2
lockfile==0.12.2
lxml==5.1.0
MarkupSafe==2.1.3
mysql==0.0.3
mysql-connector==2.2.9
mysql-connector-python==8.3.0
mysqlclient==2.2.4
numpy==1.26.1
outcome==1.3.0.post0
packaging==23.1
pandas==2.1.1
patsy==0.5.6
Pillow==10.1.0
pipenv==2023.12.1
platformdirs==4.2.0
pycep-correios==5.2.0
pycparser==2.21
PyJWT==2.8.0
pymongo==4.6.1
PyMySQL==1.1.0
pyodbc==5.1.0
PySocks==1.7.1
python-daemon==2.2.4
python-dateutil==2.8.2
pytz==2023.3.post1
requests==2.31.0
requests-file==2.0.0
requests-toolbelt==1.0.0
schedule==1.2.0
scipy==1.12.0
selenium==4.16.0
six==1.16.0
sniffio==1.3.0
sortedcontainers==2.4.0
sql==2022.4.0
SQLAlchemy==2.0.23
statsmodels==0.14.1
trio==0.24.0
trio-websocket==0.11.1
ttkthemes==3.2.2
typing_extensions==4.8.0
tzdata==2023.3
urllib3==1.25.11
virtualenv==20.25.0
Werkzeug==2.3.7
wsproto==1.2.0
zeep==4.2.1